<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @friend.user_id %>
</p>

<p>
  <b>Friend user:</b>
  <%= @friend.friend_user_id %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
