<!DOCTYPE html>
<html>
<head>
  <title>Socialtodo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if controller.controller_name === 'tasks' && controller.action_name === 'index' %>
    <meta property="og:title" content="<%= @task.description %>" />
  <meta property="og:image" content="http://clic.k-free.net/1manen.jpg" />
  <meta property="og:description" content="<%= @task.description %>" />
  <meta property="fb:app_id" content="236814959724005" />
  <meta property="og:url" content="http://socialtodo.herokuapp.com/tasks/<%= @task.id %>" />
  <meta property="og:type" content="graphapiapp:task" />
  <% end %>

</head>
<body>

<% if user_signed_in? %>
  Hi! <img src="https://graph.facebook.com/<%= current_user.facebook_id %>/picture" width="20" height="20"> <%= link_to current_user.name, root_url %> | <%= link_to "my task", '/my' %> | <%= link_to 'タスクの登録', new_task_path %> | <%= link_to "Sign Out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

</body>
</html>
