<!DOCTYPE html>
<html>
<head>
  <title>Socialtodo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if controller.controller_name === 'tasks' && controller.action_name === 'show' %>
    <meta property="og:title" content="<%= @task.description %>" />
    <meta property="og:image" content="http://socialtodo.herokuapp.com/images/ganbare2.png" />
    <meta property="og:description" content="<%= @task.user.name %>さんの[<%= @task.description %>]というタスクです。" />
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
    <meta property="og:url" content="http://socialtodo.herokuapp.com/tasks/<%= @task.id %>" />
    <meta property="og:type" content="<%= ENV['NAME_SPACE'] %>:<%= ENV['OBJECT_TYPE'] %>" />
  <% end %>

</head>
<body>

  <h1><%= link_to "Social Todo", root_url %></h1>

<% if user_signed_in? %>
  Hi! <img src="https://graph.facebook.com/<%= current_user.facebook_id %>/picture" width="20" height="20"> <%= link_to "自分のタスク", '/my' %>  | <%= link_to 'タスクの登録', new_task_path %> | <%= link_to "ログアウト", destroy_user_session_path %>
<% else %>
  <%= link_to "Facebookアカウントでログイン", user_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

</body>
</html>
